:root {
  --custom-green: #52BE80;
  --custom-light-green: rgb(173, 224, 196);
}

body {
  background-color: #eff8f3 !important;
}

.App {
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: var(--custom-green) !important;
}

.navbar .navbar-brand {
  font-family: 'Handjet', cursive;
  font-weight: 800;
}

.navbar .brand-icon {
  width: 60px;
}

.navbar input[type="search"] {
  box-shadow: none;
}

/* MoviesList */
.card {
  max-height: 83vh;
  width: 19rem;

  text-decoration: none;

  transition: all .5s ease;
}

.card:hover {
  box-shadow: 5px 5px 15px rgb(235, 235, 235);
  transform: scale(1.04, 1.04);
  filter: blur(0px);
}

.card .movieItemImg {
  max-height: 54vh;
}

/* Pagination */

.pagination .page-link {
  color: var(--custom-green) !important;

  font-weight: bold;
}

.pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: var(--custom-green) !important;
  border: var(--custom-green);
  box-shadow: 0 0 0 0.25rem var(--custom-light-green);
}